#nav li {
    display:inline;
}

#nav ul {
    border-style:solid;
    border-width:thin;
}

ul {
    list-style:none;
    padding:0;
   
}

.task {
    border-style:solid;
    border-width:thin;
    margin:0;
   
}

.task ul {
    padding:0;
    margin:0;
   
}

.task ul li {
    display:inline;
    /*border-left: 2px solid;*/
}

.stats ul li {
    display:inline;
}

#weekpiedat {
    display:block;
}

#weekpiechart {
    width:600px;
    height:300px;
}

#weeklylinegraph {
    width:600px;
    height:300px;
}

#timelinegraph {
    width:600px;
    height:300px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

