{% extends 'base.html' %}

{% block title %}
    Add Content
{% endblock title %}

{% block head %}
{{block.super}}
    <link type="text/css" href="{{STATIC_URL}}/css/smoothness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />  
    <script type="text/javascript" src="{{STATIC_URL}}/js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}/add_form.js"></script>
{% endblock head %}

{% block maincontent %}
{% include 'navigation.html' %}
    {% if form.errors %}
        <p>Please correct the following error{{ forms.errors|pluralize }}.</p>
    {% endif %}

    <form action="" method="post">
      {% csrf_token %}
      <ul>
	{{ form.as_ul }}
      </ul>
      <input type="submit" name="submit" value="Submit" \>
    </form>
{% endblock maincontent %}
