{% extends 'base.html' %}

{% block title %}
<title>Login</title>
{% endblock title %}

{% block maincontent %}
    <a href="/register/">Register</a>
    <center><h3>Login</h3></center>

    {% if authentication_failed %}
    <p> Incorrect password.  Please try again. </p>
    {% else %}
    {% if form.errors %}
    <p>Please correct the following error{{ form.errors|pluralize }}.</p>
    {% endif %}
    {% endif %}
    
    <form action="" method="post">
      {% csrf_token %}
      <ul>
        {{ form.as_ul }}
      </ul>
      <input type="submit" name="submit" value="Submit" />
      <input type="hidden" name="next" value="{{ next|default:'/view/' }}" />
    </form>  
{% endblock maincontent %}
