{% block maincontent %}
<h1>
  Welcome to this Time Management Application. 
</h1>
<p>
   Please click on the link below that corresponds to the action that you would like to be done. 
</p>
<p>
  The links at the top of the table sort the data in the table. The list below the table contains the categories adjacent to the time spent doing activities within the categories. 
</p>
{% endblock maincontent %}

{% block nav %}
<div id="nav">
  <ul>
    <li><a href="/view/">View Categories</a></li>
    <li><a href="/add_task/">Add Task</a></li>
    <li><a href="/add_category/">Add Category</a></li>
    <li><a href="/logout/">Logout</a></li>
    <li><a href="/stats/">Statistics</a></li>
  </ul>
</div>
{% endblock nav %}

