{% extends 'base.html' %} 

{% block title %}
Statistics
{% endblock title %}
n
{% block head %}
{{ block.super}}

    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/flot/jquery.js"></script>

    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/flot/jquery.flot.js"></script>

    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/flot/jquery.flot.pie.js"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/stats.js"></script>
    
{% endblock head %}

{% block maincontent %}
    {% include 'navigation.html' %}
    
    <div id="weekpiedat">
      <ul>
	{% for label,value in data.items %}
	<li>
	  <ul>
	    <li>{{label}}</li>
	    <li>{{value}}</li>
	  </ul>
	</li>
	{% endfor %}
      </ul>
    </div>
    
    <div id="weekpiechart"></div>

{% endblock maincontent %}    

