{% extends 'base.html' %} 

{% block title %}
Statistics
{% endblock title %}
n
{% block head %}
{{ block.super}}

    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/flot/jquery.js"></script>

    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/flot/jquery.flot.js"></script>

    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/flot/jquery.flot.pie.js"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/stats.js"></script>
    
{% endblock head %}

{% block maincontent %}
    {% include 'navigation.html' %}
    
    <div id="pie">
      <a href="#">Pie chart</a>
    </div>

    <div id="weeklyline">
      <a href="#">Line Graph of # of Hours By Week</a>
    </div>

    <div id="timeline">
      <a href="#">Yesterday Timeline</a>
    </div>

    <div id="weekpiechart"></div>
    <div id="weeklylinegraph"></div>
    <div id="timelinegraph"></div>

{% endblock maincontent %}    

