{% extends 'base.html' %}

{% block title %}
Welcome to this Time Manager Application! Enjoy! 
{% endblock title %}

{% block head %}
{{ block.super}}

    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/flot/jquery.js"></script>

    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}/sorter.js"></script>
    
{% endblock head %}

{% block maincontent %}
{% include 'navigation.html' %}

{# setting up ids for divs to be refered to when modifying DOM with JQuery #}

<div id="task-table">
    {% include 'table_creation.html' %}
</div>

{% if day_avgs %}
<ul>
  {% for label,avg in day_avgs %}
  <li>
    <div class="stats">
      <ul>
	<li>{{ label }}</li>
	<li>{{ avg }}</li>
      </ul>
    </div>
  </li>
  {% endfor %}
</ul>
{% else %}
(Nothing)
{% endif %} 

{% endblock maincontent %}
